In [9]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [10]:
data = pd.read_csv('data/TV_Show_Viewers_Dataset.csv')

In [4]:
data.shape

(50, 11)

In [11]:
data.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers,Unnamed: 10
0,Episode001,3,5,2,4,4,3,7,9,888983,NaN
1,Episode002,4,6,3,5,3,4,8,7,888737,NaN
2,Episode003,2,4,1,3,5,2,6,8,887743,NaN
3,Episode004,4,6,3,5,2,5,8,7,808437,NaN
4,Episode005,5,7,4,6,4,2,6,6,777626,NaN

In [21]:
def train_test():
    features = []
    target = []
    
    for char1,char2,char3,char4,char5,fight,comedy,romance,viewers in zip(data['Character1_appeared'],
                                                                         data['Character2_appeared'],
                                                                         data['Character3_appeared'],
                                                                         data['Character4_appeared'],
                                                                         data['Character5_appeared'],
                                                                         data['Fight_scenes'],
                                                                         data['Comedy_scences'],
                                                                         data['Romance_scence'],
                                                                         data['Viewers']):
        features.append([char1,char2,char3,char4,char5,fight,comedy,romance])
        target.append(viewers)
        
    return features, target

In [22]:
X_train, y_train = train_test()

In [24]:
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
regression.predict([[3, 5, 2, 4, 4, 3, 7, 9]])

array([968031.03977999])

In [26]:
regression.score(X_train, y_train)

0.7614623942705006